<div class="mt-6 flex flex-col gap-8">
    <span class="p-float-label w-full">
        <span class="p-float-label w-full">
            <input
                [(ngModel)]="newEmail"
                class="w-full"
                pInputText
                type="email"
            />
            <label>New email address*</label>
        </span>
    </span>

    <span class="p-float-label w-full">
        <span class="p-float-label w-full">
            <input
                [(ngModel)]="newEmailConfirm"
                class="w-full"
                pInputText
                type="email"
            />
            <label>Confirm new email address*</label>
        </span>
        <small class="">Your email addresses must match.</small>
    </span>

    <p-button
        (onClick)="onSubmit()"
        icon="pi pi-check"
        iconPos="right"
        label="Change email"
        styleClass="w-full"
    ></p-button>
</div>
