<div class="flex flex-col items-center gap-4">
    <!-- month & year -->
    <div
        class="flex w-full items-center justify-between gap-1 py-4 sm:rounded sm:bg-gray-100 sm:px-3"
    >
        <p class="font-bold">Best month</p>
        <p>
            {{ bestMonthStats.month || "No shifts" }} {{ bestMonthStats.year ||
            "No shifts" }}
        </p>
    </div>
    <!-- profit -->
    <div
        class="flex w-full items-center justify-between gap-1 py-4 sm:rounded sm:bg-gray-200 sm:px-3"
    >
        <p class="font-bold">Total profit</p>
        <p>
            {{ bestMonthStats.profit | number:'1.2-2' | currency : "USD" :
            "symbol" || "0" }}
        </p>
    </div>
    <!-- hours worked -->
    <div
        class="flex w-full items-center justify-between gap-1 py-4 sm:rounded sm:bg-gray-100 sm:px-3"
    >
        <p class="font-bold">Hours worked</p>
        <p>{{ bestMonthStats.hoursWorked | number:'1.2-2' || "0" }} hours</p>
    </div>
    <!-- average hourly wage -->
    <div
        class="flex w-full items-center justify-between gap-1 py-4 sm:rounded sm:bg-gray-200 sm:px-3"
    >
        <p class="font-bold">Average hourly wage</p>
        <p>
            {{ bestMonthStats.averageHourlyWage | number:'1.2-2' | currency :
            "USD" : "symbol" || "0" }}
        </p>
    </div>
</div>
