<div class="mt-6 flex flex-col gap-8">
    <span class="p-float-label w-full">
        <span class="p-float-label w-full">
            <input
                [(ngModel)]="newPassword"
                class="w-full"
                pInputText
                type="password"
            />
            <label>New password*</label>
        </span>
        <small class=""
            >Password requires 6+ characters, including uppercase, lowercase, a
            number, and a symbol</small
        >
    </span>

    <span class="p-float-label w-full">
        <span class="p-float-label w-full">
            <input
                [(ngModel)]="newPasswordConfirm"
                class="w-full"
                pInputText
                type="password"
            />
            <label>Confirm new password*</label>
        </span>
        <small class="">Your passwords must match.</small>
    </span>

    <p-button
        (onClick)="onSubmit()"
        icon="pi pi-check"
        iconPos="right"
        label="Change password"
        styleClass="w-full"
    ></p-button>
</div>
