<p-card styleClass="max-w-[900px] mt-[60px] mb-[40px] mx-auto">
    <div class="mx-auto my-0 flex max-w-[400px] flex-col items-end gap-6">
        <!-- email -->
        <div class="flex w-full justify-around">
            <div class="flex max-w-[400px] flex-1 flex-col">
                <span class="p-float-label w-full">
                    <span class="p-float-label w-full">
                        <input
                            [(ngModel)]="email"
                            class="w-full"
                            id="username"
                            pInputText
                            type="email"
                        />
                        <label for="email">Email address</label>
                    </span>
                </span>
            </div>
        </div>
        <div class="flex w-full flex-wrap items-center justify-between">
            <p-button
                (onClick)="onSubmit()"
                class="w-full"
                icon="pi pi-arrow-circle-right"
                label="Send password reset email"
                styleClass="w-full"
            ></p-button>
        </div>
    </div>
</p-card>

@if (isLoading) {
<app-spinner></app-spinner>
}

<p-toast></p-toast>
