<div class="text-center px-4">
  <h1 class="mb-4 text-[110px] font-semibold text-red-500">404</h1>
  <p class="mb-4 text-xl text-gray-600">Oops! Looks like you're lost.</p>

  <p
    class="mt-8 text-lg text-red-500 max-w-2xl mx-auto text-center text-balance"
  >
    We're sorry, but the page you're looking for doesn't exist or you may not
    have the necessary permissions to access it.

    <span class="text-gray-600">
      This could be due to an incorrect URL or a broken link. Please check the
      URL for any mistakes and try again, or use the navigation menu to find
      what you need.</span
    >
  </p>
</div>
